.name {
    
    color: #fcfcfc;
}
.offwhite {
    color: #fcfcfc;
}
body {
    font-family: 'Dosis', sans-serif;
}
p {
    font-size: 1.25em;
}
hr {          
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-style: inset;
        border-width: 1px;
        color: #fcfcfc;
      }
.skills {
    list-style: none;
    font-size: 1.25em;
}
