.name {
    
    color: #fcfcfc;
}
.offwhite {
    color: #fcfcfc;
}
body {
    font-family: 'Dosis', sans-serif;
}
p {
    font-size: 1.25em;
}
hr {          
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border-style: inset;
        border-width: 1px;
        color: #fcfcfc;
      }
.skills {
    list-style: none;
    font-size: 1.25em;
    
}

.contact {
    list-style: none;

}
.contact a {
    color: darkgreen;
    text-decoration: none;
    text-transform: none;
       
}
 .skills li::before {
     content: url('/images/foilage.png');
     height: 10px;
     width: 10px;
     position: absolute;
    
 }
.greenfont {
    color: darkgreen;
}


